<h1>Registreer</h1>
<form id="testform" method="post">
	<ul class="formlist">
		<li>
			<label for="username">Name</label>
			<input type="text" name="username" id="username" />
		</li>
		<li>
			<label for="email">Email</label>
			<input type="email" name="email" id="email" />
		</li>
		<li>
			<label for="password">Password</label>
			<input type="password" name="password" id="password" />
		</li>
		<li>
			<label for="birthday">Birthday</label>
			<input type="date" name="birthday" id="birthday" />
		</li>
	</ul>
	<button type="submit" value="Submit">Submit</button>
</form>
